# 1. 컴파일된 바이너리 실행 파일 및 오브젝트 파일 제외
dat/
test/
kk
a.out
aim
tags
README.md
*.o
*.so
*.a
# prj/mon 폴더 안의 dbd_pg 같은 컴파일된 최종 실행 파일 이름을 직접 지정해서 제외합니다.
mon/src/dbd_pg
mon/src/dbd_maria
mon/src/dbd_mssql
mon/src/dbd_oracle
mig/src/dbm

# query header
*.inc

# 2. 데이터베이스 백업 쿼리 및 임시 로그 파일 제외
*.log
# (만약 테스트용 sql은 올리고 싶다면 아래처럼 예외 처리하거나 지우셔도 됩니다)
# !pg_test.sql

# 3. OS 및 툴이 남기는 시스템 임시 파일 제외
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
core.*

# 관리안하는 source
cl.sh
mig/src/metadb_dbm.c
mig/src/metadb_dbm.h
mig/src/mig.c
mig/src/mig.h
mig/src/read.txt

